
header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

nav {
    background: var(--primary-light-200);
    padding-inline: 10em;
    /* border-radius: 2em; */
    display: flex;
    justify-content: center;
}

nav > * {
    display: flex;
    padding: 1em;
    color: var(--primary-light-500)
}