
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.right > div {
    background-color: var(--primary-light-100);
    border-radius: 2vw;
    padding: 1vw;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.right > div > h3 {
    background-color: var(--primary-light-500);
    padding: 0rem .5rem;
    border-radius: 2vw;
    color: var(--primary-light-100);
}

.right .form {
    display: flex;
    flex-direction: column;
}